/* body{
    background-image: linear-gradient(black, rgb(94, 94, 94), white);
}

ul{
    display: flex;
   justify-content: space-evenly;
   justify-items: center;

}
.menu{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
}

.navbar{
    display: inline;
    padding: 15px;
    font-weight: bold;
    font-size: 25px;
} 

 a.navlink {
    text-decoration: none;
} 

    li a:hover{
    background-color: black;
    color: white;
    transition-duration: 3s;
    transition-property: all;
    transition-timing-function: ease-out;
    }

    li a{
        text-decoration: none;
    }

h1{
    display: block;
    font-weight: bold;
    color: whitesmoke;
    font-size: 50px;
}
h2{
    font-weight: bold;
    background-color: black;
    color: white;
    display: inline;

}

.decovallelogo{
    height: 10rem;
}

.logomarca{
    height: 100px;
}

.banner h1{
    background-image: url(../images/Banner\ Decovalle.jpg);
    background-repeat: no-repeat;
    height: 550px;
    margin: 0px;
    display: block;
}

.producto1{
    background-image: url(../images/Prueba\ Sofa.jpg);
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
    background-size: contain;
    
}
.mision img, .vision img{
    height: 300px;
}

.producto2{
    background-image: url(../images/Mesa.jpg);
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
    background-size: contain;
}

.producto3{
    background-image: url(../images/Silla.jpg);
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
    background-size: contain;
}
.producto4{
    background-image: url(../images/Placard.jpg);
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
    background-size: contain;
}
.testimonio1 img, .testimonio2 img, .testimonio3 img, .testimonio4 img{
    height: 250px;
}
.fotocontacto{
    height: 400px;
    display: block;
}

input{
    display: block;
}
button{
    display: block;
}
.mapa{
    display: block;
}
.direccion{
    display: inline;
}
.ubicacion p{
    display: inline;
}


.horario p, .horario h2 {
    display: inline;
}  
.nav-link:hover {
    color: white;
    background-color: black;
    transition: all .5s ease-in-out;
*/

.nav-link:hover{
    background-color: white;
    color: black;
    transition: all 0.6s ease-in-out;
}

body{
    background-image: linear-gradient(black, white);
}
h1 {
    padding: 3rem 3rem 3rem 1.5rem;
    color: white;
    font-size: 1.5em;
}

.img-logo{
    height: 5rem;
    width: 10rem;
}

.marcas{
    padding: 2rem 0 2rem 0;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
}
.img-fluid-banner{
    height: 400px;
    width: 550px;
}
.img-fluid-productos{
    height: 400px;
    width: 550px;
}


@media screen and (max-width: 2000px){
    .img-fluid-banner{
        height: 350px;
        width: 450px;
    }
    .banner p{
        padding-right: 7rem;
    }
    .productos p{
        padding-right: 1rem;
    }
    .img-fluid-productos{
        height: 350px;
        width: 450px;
    }

}
@media screen and (max-width: 1400px){
    .img-fluid-banner{
        height: 350px;
        width: 450px;
    }
        .banner p{
        padding-right: 4rem;
    }
    .img-fluid-productos{
        height: 350px;
        width: 450px;
    }
    .productos p{
        padding-right: 3rem;
    }
}
@media screen and (max-width: 992px){
    .img-fluid-banner{
        height: 350px;
        width: 450px;
    }
    .banner p{
        padding-right: 2.5rem;
    }
    .img-fluid-productos{
        height: 350px;
        width: 450px;
    }
    .productos p{
        padding-right: 15rem;
    }

}

@media screen and (max-width: 768px){
    .img-fluid-banner{
        height: auto;
        width: auto;
    }
    .banner p{
        padding: 0
    }
    .img-fluid-productos{
        height: auto;
        width: auto;
    }
    .productos p{
        padding: 0;
    }
}
section h2{
    color: white;
}

