.img-fluid-productos{
    height: 400px;
    width: 550px;
}

.tituloproductos{
    padding: 2rem 2rem 2rem 0;
    color: whitesmoke;
    background-color: grey;
    margin-bottom: 2rem;
    text-align: center;
}