@mixin titulotestimonio{
    padding: 2rem 2rem 2rem 0;
    color: whitesmoke;
    background-color: grey;
    margin-bottom: 3rem;
    text-align: center;
}

@mixin sizes($width, $height)
{
    height: $height;
    width: $width;
}


.img-fluid-testimonio{
    @include sizes(550px, 400px)
}
.nombre1{
    color: white;
}

.testimonio1 p{
    @extend .nombre1
}

.titulotestimonio{
   @include titulotestimonio
}

.testimonio1{
     h3{
    color: white;
    }
}